PORT=3000
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5432/crm_db?schema=public"
JWT_SECRET="crm_secret_jwt_key_2026_super_secure_key_for_auth"
JWT_EXPIRES_IN="1d"
JWT_REFRESH_SECRET="crm_refresh_secret_key_2026_super_secure_long_key"
JWT_REFRESH_EXPIRES_IN="7d"
CORS_ORIGIN="http://localhost:5173"
